<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Coniguration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">00000000</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/vetClinic?useSSL=false</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>

        <!-- List of XML mapping files -->
        <mapping class = "com.enotessa.SQLanomalies.entities.Appointment"/>
        <mapping class = "com.enotessa.SQLanomalies.entities.Diagnosis"/>
        <mapping class = "com.enotessa.SQLanomalies.entities.Doctor"/>
        <mapping class = "com.enotessa.SQLanomalies.entities.Owner"/>
        <mapping class = "com.enotessa.SQLanomalies.entities.Pet"/>
        <mapping class = "com.enotessa.SQLanomalies.entities.Therapy"/>

    </session-factory>
</hibernate-configuration>
